.home-main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 90vh;
  width: 100%;
  background-color: white;
  font-family: "Roboto";
  padding: 30px;
}
.loader {
  align-self: center;
}

.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .fl-image {
    width: 375px;
    height: 267px;
    margin-bottom: 15px;
  }

  .failure-para {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
  }

  .fl-button {
    width: 127px;
    height: 48px;
    text-align: center;
    background-color: #ffffff;
    color: #171f46;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 7px;
  }
}

.mentors-main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 0px;
  min-height: 100px;
  width: 100%;
}

.list-heading {
  color: black;
  font-size: 30px;
  margin-bottom: 10px;
}

.mentor-list-container {
  list-style-type: none;
  padding: none;
  width: 100%;
  margin-bottom: 20px;
  height: 300px;
  overflow-y: auto;
}

.name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.name1 {
  color: black;
  font-size: 20px;
  font-weight: 400;
  width: 20%;
}

.mentor-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style-type: none;
  border-left: 2px solid #ebbd34;
  color: black;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 7px;
  margin-left: 0px;
}

.name {
  color: black;
  font-size: 17px;
  font-weight: 300;
  width: 20%;
}

.mentor-list-item:hover {
  border: 1px solid lightslategray;
  border-left: 2px solid #ebbd34;
  cursor: pointer;
  margin-bottom: 7px;
}

.student-button {
  color: white;
  width: 120px;
  padding: 10px;
  background-color: #ebbd34;
  font-size: 15px;
  border-radius: 1px;
  border: none;
  cursor: pointer;
}

.student-button {
  border-radius: 15px;
}

.create-button {
  color: white;
  min-width: 100px;
  padding: 10px;
  background-color: #ebbd34;
  font-size: 15px;
  border-radius: 1px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  align-self: flex-end;
}
.bookings {
  align-self: flex-end;
}

.create-button {
  border-radius: 15px;
}

.mentor-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mentor-heading {
  color: black;
  font-size: 30px;
  margin-bottom: 10px;
}

.mentor-button {
  color: white;
  min-width: 100px;
  padding: 10px;
  background-color: #ebbd34;
  font-size: 15px;
  border-radius: 1px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.mentor-button {
  border-radius: 15px;
}
